<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>403</title>
    <div th:replace="common/common::head"></div>
</head>
<body>
<nav th:replace="common/common::topbar"></nav>

<div class="container-fluid">
    <nav th:replace="common/common::sidebar"></nav>
    <div class="col-lg-6 col-md-12 col-sm-12" style="height:100%" id="content">
        <div class="panel">
            <div class="panel-heading">
                <span class="icon"> <i class="icon-info-sign"></i>  Error 403</span>
            </div>
            <div class="panel-body">
                <div>
                    <h1>403</h1>
                    <hr/>
                    <h3>Opps, You're lost.</h3>
                    <hr/>
                    <p>Access to this page is forbidden</p>
                    <hr/>
                    <hr/>
                    <hr/>
                    <a class="btn btn-warning btn-big"  href="/login">Back to Home</a>
                    <hr/>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/common::footer"></div>
<div th:replace="common/common::script"></div>
</body>
</html>