<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>edit</title>
    <div th:replace="common/common::head"></div>
</head>

<body>
<nav th:replace="common/common::topbar"></nav>
<!--左侧导航栏-->
<div class="container-fluid">
    <div class="col-lg-2" id="sidebar">
        <!--这是修改的左边栏的内容-->
        <div style="height:550px;overflow:scroll">
            <ul class="tree tree-menu" data-ride="tree" id="sidebar-content">
            </ul>
        </div>
        <div style="height: 100px">
            <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <input type="file" name="file" class="form-control"/>
                <button class="btn btn-link uploader-btn-start" value="Submit" id="btnSubmit"><i class="icon icon-cloud-upload"></i>开始上传</button>
            </form>
            <button class="btn btn-link uploader-btn-start" ><a th:href="@{'/wopi/files/'+${filenameMd5}+'/contents'}">下载文档</a></button>
            <pre>
                <span id="result"></span>
            </pre>
        </div>
    </div>

    <div class="col-lg-7 col-md-12 col-sm-12" style="height:100%" id="content">
        <iframe th:src="@{${office_online_addr}+${filenameMd5}}" width="100%" height="850px;" frameborder="2" style="float: right;">

        </iframe>
    </div>

    <div class="col-lg-3" id="sidebar-right">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="active" style="width:40%;"><a data-tab href="#home">相似文档</a></li>
            <li class="" style="width:30%;"><a data-tab href="#profile">相关段落</a></li>
            <li class="" style="width:30%;"><a data-tab href="#profile">我的文档</a></li>
        </ul>
        <div class="tab-content" style="margin-top:10px;">
            <div class="tab-pane active" id="home">
                相似文档测试
            </div>
            <div class="tab-pane" id="profile">
                相似段落测试
            </div>
            <div class="tab-pane" id="mydoc">
                我的文档
            </div>
        </div>
    </div>

</div>

<div th:replace="common/common::footer"></div>
<div th:replace="common/common::script"></div>

<!--自定义脚本-->
<script th:inline="javascript">
    $(function(){
        var name = /*[[${reportEntity.project_name}]]*/ "Gertrud Kiwifruit";
        var docname=/*[[${filenameMd5}]]*/ "111111.docx"
        //创建request对象
        var request = new XMLHttpRequest();
        //
        // 发送请求:
        request.open('GET', "/solr/"+name,true);
        //注册相关事件回调处理函数
        request.onreadystatechange=function () {
            if (request.readyState === 4) { // 成功完成
                // 判断响应结果:
                if (request.status === 200) {
                    // 成功，通过responseText拿到响应的文本:
                    return success(request.responseText);
                } else {
                    // 失败，根据响应码判断失败原因:
                    return fail(request.status);
                }
            } else {
                // HTTP请求还在继续...
            }
        }
        request.send();

        function success(text) {
            var jsonData=JSON.parse(text);
            var element = document.getElementById('home');
            element.innerHTML=null;
            for(var i=0;i<jsonData.length;i++){
                var json=jsonData[i];
                var project_name=json.project_name;
                var project_city=json.project_city;
                var project_province=json.project_province;
                var ul=document.createElement("ul");
                ul.setAttribute("class","list-group");
                var li=document.createElement("li");
                li.setAttribute("class","list-group-item");
                var a=document.createElement("a");
                a.setAttribute("class","list-group-item-heading");
                a.setAttribute("href","/show/"+docname+"/"+project_name);
                a.innerHTML=project_name;
                var p=document.createElement("p");
                p.setAttribute("class","list-group-item-text text-muted");
                p.innerHTML=project_city+"-"+project_province;


                li.appendChild(a);
                li.appendChild(p);
                ul.appendChild(li);
                element.appendChild(ul);
            }


        }

        function fail(code) {
            var textarea = document.getElementById('profile');
            textarea.innerText = 'Error code: ' + code;
        }
    });
</script>
<script>

    var myTreeData = [{
        title: '1.0 建设项目概况',
        url: 'http://zui.sexy',
        open: true,
        children: [
            { title: '1.1 环境影响评价项目的由来' },
            {title: '1.3 编制环境影响报告书的目的'},
            {title: '1.4 编制依据'},
            {title: '1.5 评价标准'},
            {title: '1.6 评价范围'}
        ]
    }, {
        title: '2.0 环境概况',
        children: [
            { title: '2.1 建设规模' },
            { title: '2.2 生产工艺简介' },
            { title: '2.3 原料、燃料及用水量' },
            { title: '2.4 污染物排放情况' },
            { title: '2.5 污染控制及环境保护目标' },
            { title: '2.6 拟采取的环保措施' }
        ]
    }, {
        title: '3.0 污染源调查与评价',
        children: [
            { title: '3.1 自然环境状况调查' },
            { title: '3.2 评价区内环境质量现状调查' },
            { title: '3.3 工程环境影响因素分析' },
            { title: '3.4 社会环境状况调查' }
        ]
    }, {
        title: '4.0 环境影响预测与评价'
    }, {
        title: '5.0 环保措施的可行性及经济技术论证',
    },{
        title:'6.0 环境影响经济损益简要分析',
        children:[
            { title:'6.1 大气污染防治'},
            { title:'6.2 废水治理'},
            { title:'6.3 废渣处理'},
            { title:'6.4 减振防噪'},
            { title:'6.5 绿化'}
        ]
    },{
        title:'7.0 实施环境监测的建议'
    },{
        title:'8.0 结论',
    },{
        title:'9.0 附件、附图及参考文献'
    }];

    // 初始化选项中定义构造器回调函数
    $('#sidebar-content').tree({
        data:myTreeData,
        itemCreator: function ($li, item) {
            $li.append($('<a/>', { href: '#'}).text(item.title).prepend($('<i/>',{class:"icon icon-file"})));
            // return false; // 如果要忽略当前节点，可以通过返回 false 来实现
        }
    })
    var list=document.getElementById('sidebar-content');
    var li=list.getElementsByTagName('a');
    for(var i=0;i<li.length;i++)
    {
        li[i].onclick=function(){
            showinfo(this.innerText);
        }

    }



    function showinfo(id){
        var right_tab=document.getElementById('myTabs');
        var home=document.getElementById('home');
        var profile=document.getElementById('profile');
        right_tab.firstElementChild.className="";
        right_tab.lastElementChild.className="active";
        home.className="tab-pane";
        profile.className="tab-pane active";

        //创建request对象
        var request = new XMLHttpRequest();
        //
        // 发送请求:
        request.open('GET', '/segments/'+id,true);
        //注册相关事件回调处理函数
        request.onreadystatechange=function () {
            if (request.readyState === 4) { // 成功完成
                // 判断响应结果:
                if (request.status === 200) {
                    // 成功，通过responseText拿到响应的文本:
                    return success(request.responseText);
                } else {
                    // 失败，根据响应码判断失败原因:
                    return fail(request.status);
                }
            } else {
                // HTTP请求还在继续...
            }
        }
        request.send();

        function success(text) {
            var jsonData=JSON.parse(text);
            var element = document.getElementById('profile');
            element.innerHTML=null;
            for(var i=0;i<jsonData.length;i++){
                var json=jsonData[i];
                var project_name=json.project_name;
                var segmentContent=json.segmentContent;
                var div1=document.createElement("div");
                div1.setAttribute("class","panel");
                var div2=document.createElement("div");
                div2.setAttribute("class","panel-heading");
                var div3=document.createElement("div");
                div3.setAttribute("class","panel-body");
                div3.innerHTML=segmentContent;
                var a1=document.createElement("a");
                //  a1.setAttribute("class","am-text-truncate");
                a1.innerHTML=project_name;
                div2.appendChild(a1);
                div1.appendChild(div2);
                div1.appendChild(div3);
                element.appendChild(div1);
            }
        }
        function fail(code) {
            var textarea = document.getElementById('profile');
            textarea.innerText = 'Error code: ' + code;
        }
    };

</script>
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function (event) {
            event.preventDefault();

            fire_ajax_submit();

        });

    });

    function fire_ajax_submit() {

        // Get form
        var form = $('#fileUploadForm')[0];

        var data = new FormData(form);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/upload",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#result").text(data);
            },
            error: function (e) {
                $("#result").text(e.responseText);
            }
        });

    }
</script>

</body>

</html>